* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  display: grid;
  place-items: center;
  /* overflow: hidden; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 50px 10px;
  grid-template-columns: 0.1fr 1fr 1fr;
  z-index: 10;
  grid-template-areas: "side-bar nav-head nav-head" "side-bar inner-side inner-side" "side-bar inner-side inner-side";
}

.nav-head {
  width: 100%;
  height: 100%;
}

.nav-head {
  background-color: white;
  box-shadow: 5px 1px 6px rgba(0, 0, 0, 0.5);
  z-index: 1;
  grid-area: nav-head;
}

.nav-head .nav-bar {
  display: flex;
  width: 100%;
  position: relative;
}

.mobile-bar {
  display: none;
}

#over-lay-bar {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}

.left-side {
  display: flex;
  width: 100%;
  text-align: left;
  flex-basis: 60%;
}

.right-side {
  flex-basis: 40%;
}

.left-side ul {
  width: 100%;
  text-align: left;
}

.left-side ul li,
.right-side ul li {
  display: inline-block;
  padding: 5px 20px;
  margin: 15px 0;
  font-size: 14px;
  list-style: none;
  cursor: pointer;
  font-family: Roboto, "san-seriff";
}

.active {
  background: linear-gradient(45deg, #871966, #1c147c);
  border-radius: 5px;
  color: white;
  transition: all 0.2s linear;
}

.left-side ul li i {
  margin-right: 10px;
}

.circle {
  flex-basis: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.cirlce-orbit {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: pink;
}

.setting {
  flex-basis: 10%;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.side-bar {
  background-color: white;
  grid-area: side-bar;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.side-bar .icon {
  display: block;
  justify-content: center;
  padding: 20px 0;
  font-size: 20px;
}

.icons-lists {
  display: flex;
  flex-direction: column;
  position: relative;
  color: pink;
  overflow: hidden;
  width: 100%;
}
.icons-lists span {
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  position: relative;
  color: black;
  font-size: 20px;
}

.active-icon {
  color: orange !important;
  transition: 0.2s linear infinite;
  transform: scale(1);
  animation: pattern 0.2s linear;
}

@keyframes pattern {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.side-bar .icons-lists .active-icon:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: orange;
}

.inner-side::-webkit-scrollbar {
  width: 7px;
  z-index: 2;
}
.inner-side::-webkit-scrollbar-track {
  background-color: orange;
  z-index: 2;
}

.inner-side::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  z-index: 2;
}

.inner-side {
  background: linear-gradient(45deg, #d6b522, orange);
  grid-area: inner-side;
  height: 500px;
  width: 100%;
  z-index: 5;
  overflow: hidden;
  position: relative;
  overflow-y: scroll;
}

.side-bar-icons {
  display: none;
}

#show-bar-icon {
  display: none;
}

.small-container {
  width: 80%;
  margin: 100px auto;
  /* overflow: hidden; */
}

.first-page {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.first-page .first-part {
  width: 800px;
  display: flex;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  background-color: white;
}

.task {
  display: flex;
  overflow: hidden;
}

.task .task-details {
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
  margin: 10px;
}
.task .task-details h5 {
  margin-top: 20px;
}

.task .task-details p {
  margin-top: 25px;
}

.task .background {
  width: 50px;
  height: 50px;
  display: flex;
  background-color: orange;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.first-part .line {
  position: relative;
  margin: 10px 40px;
  width: 2px;
  height: 90%;
  background-color: grey;
}

.list-icons-background {
  flex: 1;
  padding: 10px;
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
}

.icon-wrapper {
  flex: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.icon-wrapper .main-icon {
  width: 50px;
  height: 50px;
  color: white;
  background-color: orange;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-wrapper h5 {
  font-family: Roboto, "san-seriff";
  text-align: center;
}

.second-part {
  width: 400px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-left: 30px;
  display: flex;

  flex-direction: column;
  justify-content: center;
}

.second-part .profile-part {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.second-part .profile-part .profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  align-items: center;
  background-color: aquamarine;
}

.row-text {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.row-text i {
  margin-right: 15px;
  font-size: 20px;
}

.row-text h5 {
  text-align: center;
}

.row-text .fa-check {
  color: green;
}
.row-text .fa-times {
  color: red;
}

.second-page {
  overflow: hidden;
  margin: 50px auto;
  position: relative;
  transition: all 0.2s linear;
  opacity: 0;
  z-index: 0;
  transform: scale(0);
}

.second-page.animate-me {
  transition: all 0.5s linear;
  transform: scale(1);
  opacity: 1;
}

.second-page .main-page {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.page-1,
.page-2 {
  width: 500px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  height: 50vh;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-1 .part-1,
.page-2 .part-1 {
  padding: 10px;
  display: flex;
  z-index: 10;
  align-items: center;
  flex-direction: column;
}

.part-1 h5 {
  font-size: 19px;
  letter-spacing: 4px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.part-1 p {
  font-size: 15px;
  letter-spacing: 2px;
}

.overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(25deg, #1c147c, #871966);
  z-index: 1;
  clip-path: circle(65.4% at 99% 63%);
}

.page-2 .overlay-2 {
  clip-path: circle(55.4% at 5% 51%);
  background: linear-gradient(-25deg, #1c147c, #871966);
}

.page-2 {
  margin-left: 50px;
}

.lottie {
  width: 200px;
  height: 200px;
  margin-right: 50px;
  margin-bottom: 0px;
  margin-top: 30px;
  opacity: 0;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background: #871966;
  transition: 0.2s linear;
  animation: show-all 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.lottie:nth-child(1) {
  animation: show-all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s forwards;
}
.lottie:nth-child(2) {
  animation: show-all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 2s forwards;
}
.lottie:nth-child(3) {
  animation: show-all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 3s forwards;
}

@keyframes show-all {
  0% {
    margin-bottom: -300px;
    opacity: 0;
    transform: translateY(-100px);
  }
  10% {
    margin-bottom: 0;
    opacity: 1;
    transform: translateY(-40px);
  }
  30% {
    margin-bottom: 0;
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    margin-bottom: 0;
    transform: translateY(-20px);
    opacity: 1;
  }
  75% {
    margin-bottom: 0;
    transform: translateY(-5px);
    opacity: 1;
  }
  100% {
    margin-bottom: 0;
    transform: translateY(0);
    opacity: 1;
  }
}

.lottie img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lottie-view {
  display: flex;
  padding: 0 125px;
  position: relative;
  overflow: hidden;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.overlay-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #871966, #1c147c);
  z-index: -10;
  /* clip-path: circle(51.8% at 4% 3%); */
  /* clip-path: circle(136.4% at 4% 3%); */
  clip-path: circle(49.3% at 98% 100%);
  transition: 0.2s linear;
  animation: all-round 1s ease-in-out;
}

@keyframes all-round {
  0% {
    clip-path: circle(51.8% at 4% 3%);
    transition: 0.2s linear;
  }
  75% {
    clip-path: circle(136.4% at 4% 3%);
    transition: 0.2s linear;
  }
  100% {
    clip-path: circle(49.3% at 98% 100%);
  }
}

.text-inside {
  display: flex;
  height: 10vh;
  font-family: Roboto, sans-serif;
  font-size: 55px;
  padding: 0 150px;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  color: #ffff;
}
.text-inside h5 {
  line-height: 5px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-100px);
  transition: 0.2s linear;
  animation: reveal 0.5s ease-in 4s forwards;
}

@keyframes reveal {
  0% {
    transform: translateY(-100px);
  }

  10% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-20px);
  }
  90% {
    transform: translateY(-10px);
  }
  95% {
    transform: translateY(0px);
  }
  97% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.social-media {
  display: block;
  position: absolute;
  right: 20px;
  top: 25%;
}

.social-media .media-icons {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  margin: 10px 0;
  transform: scale(0);
  cursor: pointer;
  animation: up-down 0.5s linear forwards;
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes up-down {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.social-media .media-icons:nth-child(1) {
  animation: up-down 0.5s linear 5s forwards;
}

.social-media .media-icons:nth-child(2) {
  animation: up-down 0.5s linear 5.5s forwards;
}

.social-media .media-icons:nth-child(3) {
  animation: up-down 0.5s linear 6s forwards;
}

.social-media .media-icons:nth-child(4) {
  animation: up-down 0.5s linear 6.5s forwards;
}

.social-media .media-icons::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: orange;
  margin: 60px 0;
  border-radius: 50%;
}

.social-media .media-icons i {
  font-size: 18px;
  z-index: 20;
  color: black;
  font-weight: bold;
}

.social-media .media-icons:hover {
  transform: scale(1.5);
  margin: 15px 0;
}

@media only screen and (max-width: 800px) {
  .container {
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nav-head nav-head nav-head" "inner-side inner-side inner-side" "inner-side inner-side inner-side";
  }

  .side-bar {
    display: none;
    overflow: hidden;
  }
  .inner-side {
    z-index: 0;
    height: 100% !important;
    width: 100%;
    overflow: visible;
    overflow-y: scroll;
    overflow-x: scroll;
  }

  .nav-head {
    width: 100%;
    height: 100%;
  }

  .nav-head .nav-bar {
    display: none;
  }

  .mobile-bar {
    /* width: 100%; */
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px 10px;
    overflow: hidden;
  }
  #over-lay-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(45deg, #1c147c, #871966);
  }

  .close {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 25px;
  }
  #over-lay-bar .nav-list {
    display: flex;
    padding: 10px;
    margin-top: 50px;
    color: white;
  }

  #over-lay-bar .nav-list .first-list {
    flex: 0.4;
    position: relative;
  }

  #over-lay-bar .nav-list .first-list li {
    padding: 10px 15px;
    list-style-type: none;
    font-size: 21px;
  }

  #over-lay-bar .nav-list .second-list {
    flex: 0.4;
    position: relative;
  }

  #over-lay-bar .nav-list .second-list li {
    padding: 10px 15px;
    list-style-type: none;
    font-size: 21px;
  }

  #over-lay-bar .nav-list .profile-settings {
    flex: 0.2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #over-lay-bar .nav-list .profile-settings .setting {
    margin-top: 40px;
  }

  .mobile-bar i {
    font-size: 22px;
    color: #871966;
    cursor: pointer;
  }
  .mobile-bar h5 {
    font-weight: 600;
    color: #1c147c;
    letter-spacing: 2px;
    margin-right: 45px;
    font-family: Roboto sans-serif;
  }
  .small-container {
    width: 90%;
    height: 100%;
    /* overflow: hidden; */
  }

  .lottie-view {
    width: 100%;
    padding: 0 2px;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lottie {
    width: 100px;
    margin: 15px 5px;
    /* padding: 5px; */
  }
  .text-inside {
    font-size: 27px;
    width: 100%;
    padding: 0;
    margin: 0 3px;
    justify-content: center;
    align-items: center;
  }

  .text-inside h5 {
    padding: 0 2px;
    margin: auto;
  }
  .first-page {
    flex-direction: column;
  }

  .first-page .first-part {
    width: 100%;
    padding: 0 15px;
  }

  .task {
    flex-direction: column;
  }
  .task .task-details {
    flex-basis: 100%;
    width: 90%;
    margin: 0;
  }

  .task .background {
    margin-top: 10px;
  }

  .icon-wrapper {
    flex-basis: 12%;
    margin-right: 15px;
  }

  .second-part {
    width: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-left: 0;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .second-page {
    opacity: 1;
    height: 100%;
    transform: scale(1);
  }

  .main-page {
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
  }
  .page-1,
  .page-2 {
    width: 90%;
    height: inherit;
    margin: 10px auto;
    /* padding: 50px; */
  }

  .overlay-clip {
    bottom: -500px;
    left: 0;
    right: 0;
    width: 100%;
    top: auto;
  }

  .social-media {
    top: auto;
    bottom: -130px;
    right: 10%;
    display: inline-flex;
    justify-content: space-evenly;
  }
  .social-media .media-icons {
    margin: 0 10px;
  }

  .social-media .media-icons::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: orange;
    margin: 0;
    border-radius: 0;
  }

  .overlay-3 {
    display: none;
  }

  #show-bar-icon {
    position: fixed;
    top: 70%;
    left: 10px;
    z-index: 1000;
    display: block;
    transition: 0.2s linear;
  }
  #show-bar-icon .bar-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #871966;
    z-index: 1000;
    display: flex;
    color: white;
    cursor: pointer;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
  }
  i.rotate {
    animation: rotate-me 0.5s linear;
  }

  @keyframes rotate-me {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .side-bar-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 5%;
    z-index: 1000;
    transform: scale(0);
    transition: 0.2s linear;
  }
  .side-bar-icons.animate-icon {
    transition: 0.2s linear;
    animation: delay-me 0.5s ease-in-out forwards;
  }
  .side-bar-icons .fav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background: #871966;
    font-size: 30px;
    color: white;
    margin-top: 10px;
    z-index: 1000;
  }
  @keyframes delay-me {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
